.add-question {
    label {
        display: block;
    }

    &__question {
        display: block;
    }

    &__type {
        display: block;
    }

    &__add-btn {
        position: absolute;
        bottom: 1.25rem;
        right: 1.25rem;
    }
}