.wilt {
    height: calc(100vh - 2rem);
    width: calc(100vw - 2rem);
    background: #1A1A1A;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #f8f8f8;
    overflow: scroll;
    padding: 1rem;
}
