.question {
    border: 2px solid #FFF447;
    border-radius: 5px;
    padding: 0.625rem;
    color: #3EB595;
    box-shadow: 0 0 5px #FFF4478C;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:hover,
    &:active {
        box-shadow: none;
    }

    h1 {
        margin-top: 0;
    }

    p {
        margin-bottom: 0;
        color: white;
    }

    img {
        max-width: 100%;
        border-radius: 3px;
    }

    &__answer-btn-container {
        display: flex;
        justify-content: flex-end;
    }
}
