.question {
    border: 2px solid #FFF447;
    border-radius: 5px;
    padding: 0.625rem;
    color: #3EB595;
    box-shadow: 0 0 5px #FFF4478C;

    h1 {
        margin-top: 0;
    }

    p {
        margin-bottom: 0;
        color: white;
    }
}
